.ml-20 {
    margin-left: 20px;
}

.book-brand {
    display: none;
}

.book-search {
    margin-top: 0;
}

.book-toc {
    font-size: .85rem;
}

.resty-badges {
    margin-top: 3rem;
    margin-bottom: 1rem;
}
