.light-mode {
	--gray-100: #f8f9fa;
	--gray-200: #e9ecef;
	--gray-500: #adb5bd;
	--color-link: #0055bb;
	--color-visited-link: #8440f1;
	--body-background: white;
	--body-font-color: black;
	--icon-filter: none;
	--hint-color-info: #6bf;
	--hint-color-warning: #fd6;
	--hint-color-danger: #f66
}

.dark-mode {
    --gray-100: #494e54;
    --gray-200: #5c6165;
    --gray-500: #999d9f;
    --color-link: #84b2ff;
    --color-visited-link: #b88dff;
    --body-background: #343a40;
    --body-font-color: #e9ecef;
    --icon-filter: brightness(0) invert(1);
    --hint-color-info: #6bf;
    --hint-color-warning: #fd6;
    --hint-color-danger: #f66
}

.ml-20 {
    margin-left: 1.25rem;
}

.r-strong {
    font-weight: bolder;
}

.r-logo {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding-bottom: .2rem;
}

.book-toc {
    font-size: .85rem;
}

.r-footer {
    display: flex;
    // position: absolute;
    bottom: 0;
    width: 100%;
    padding-bottom: 1rem;
    flex-direction: column;
    border-top: solid 1px #cdcdcd;
    background-color: var(--body-background);
    margin-top: 2rem;
}

a .r-icon {
    height: 1.2rem;
    width: 1.2rem;
}

.r-info-box {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: .6rem 0;
    border-bottom: solid 1px #cdcdcd;
}

.r-info-box a {
    margin: 0 .2em;
    cursor: pointer;
}

.r-info-box #sponsor {
    vertical-align: middle;
    font-size: 1.3rem;
    // padding-top: 0.11rem;
}

.r-copyright {
    padding-top: 1rem;
}
.r-copyright-details {
    font-size: 0.9em;
    padding: 0.1rem 0.9rem;
}

.resty-go-mod pre {
    margin-top: 2em;
    margin-bottom: 0;
    text-align: center;
    color: #e2e4e5;
    background-color: #282a36;
}

.global-msg {
    margin: 0 0 2rem;
    padding: .5rem 1rem .5rem .75rem;
    border-inline-start: .25rem solid var(--gray-200);
    border-radius: .25rem;

}

.global-msg-warning {
    border-color: #fd6;
    background-color: rgba(255, 221, 102, .1);
}

.copied-tooltip {
    visibility: hidden;
    width: 95px;
    background-color: #93f19c;
    color: #333;
    text-align: center;
    border-radius: 4px;
    padding: 5px;
    position: absolute;
    z-index: 100;
    left: 48%;
    top:1%;
    opacity: 0;
    transition: opacity 0.3s;
}

@media screen and (min-width: 80rem) {
    .book-menu .book-menu-content, .book-page, .book-toc .book-toc-content {
        padding: 1rem 1rem;
    }
}